{% extends "shop/base.html" %}
{% load static %}


{% block content %}
  <div>
    <h2>Авторы</h2>
    <div>
      <h3>Кори Доктороу</h3>
      <p>Канадо-британский блогер, журналист и писатель, работающий с научной фантастикой</p>
      <img src="https://popcornbooks.me/upload/iblock/fe3/djjx7lj2z31qp4oa9j3f0gkaxs510w6l.jpg">
      <img src="https://popcornbooks.me/upload/iblock/2eb/jb3qdbcv3t21tp83zbx1jq1b1aem3gxg.png">
    </div>
    <div>
      <h3>Корнелия Функе</h3>
      <p>Писательница из Англии</p>
      <img src="https://popcornbooks.me/upload/iblock/a5d/7xs3s434ykvzjbwaxi2nevw285ulsqqm.jpeg">
      <img src="https://popcornbooks.me/upload/iblock/61f/arip6dr3jih04naikl37ljlcw1tci8gw.png">
    </div>
    <div>
      <h3>Хармони Бэкер</h3>
      <p>Автор комикса «Дом Химавари»</p>
      <img src="https://popcornbooks.me/upload/iblock/6c2/uq2wd6fn83qtmhcrrin2pz4hnyts52rb.jpg">
      <img src="https://popcornbooks.me/upload/iblock/9d9/qcg88sjxdjt733a8b0z6zee25620vgs1.png">
    </div>
  </div>
{% endblock %}